header {
  .flexThis(space-between, center);
  flex-direction: row;
  min-height: 85vh;
  background-color: @white;
  max-width: 80%;
  margin: 0 auto;
  border-bottom: 1px dotted @green;

  @media @desktop {
    .flexThis(space-around, center);
    flex-direction: column;
  }

  @media @tablet{
    flex-direction: column;
    min-height: 100%;
  }

  @media @phone {
    flex-direction: column;
    min-height: 100%;
  }

  .headerText {
    width: 40%;
    .flexThis(space-evenly, center);
    text-align: center;
    flex-direction: column;
    line-height: 2;
    margin: 5%;

    @media @desktop {
      padding: 5px;
      margin: 5px;
      width: 70%;
    }

    @media @tablet {
      width: 100%;
    }

    @media @phone {
      width: 100%;
    }

    h1 {
      display: none;
    }

    h2 {
      color: @gray;
      font-size: 2.5rem;
      margin: 5%;

      @media @tablet {
        font-size: 2rem;
      }

      @media @phone {
        font-size: 2rem;
      }
    }
  }

  .headerImg {
    width: 55%;

    @media @tablet {
      width: 95%;
    }

    @media @phone {
      width: 95%;
    }

    img {
      .responsiveImg();
    }
  }

  a {
    .callToActionButton();

    @media @phone {
      margin: 0;
    }
  }
}
