.flexThis(@justify, @align) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
}

.responsiveImg() {
  width: 100%;
  height: auto;
}

.callToActionButton() {
  background-color: @green;
  padding: 3rem 10rem;
  font-size: 2.5rem;
  border: none;
  color: @white;
  margin: 5%;
}
