nav {  
  background-color: @red;
  .flexThis(flex-end, flex-end);
  height: 15vh;

  @media @phone {
    padding: 5px 0;
  }
  
  div {
    .flexThis(center, center);
    width: 40%;

    @media @tablet {
      flex-direction: column;
      width: 100%;
      height: 100%;
    }

    @media @phone {
      flex-direction: column;
      width: 100%;
      height: 100%;
    }

    a {
      text-decoration: none;
      font-size: 2rem;
      color: @white;
      margin-right: 5%;
      padding-bottom: 5px;

      @media @tablet {
        margin: 5px 0;
      }
  
      @media @phone {
        font-size: 2rem;
        margin: 2% 0;
        color: @white;
        font-weight: normal;
      }
    }
  }
}
